html{
    font-family: 'Indie Flower', cursive;
}


#bg{
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
}

#inhalt{
    position: absolute;
}

a {
   
    background-size: 100% 100%;
    text-decoration: none;
    color:black;
  
}
a:hover{
  
   

}
p{
    font-size: 6vw;
    width:30%;
    margin-left:65%;
    margin-top:5vw;
    text-align: center;
    
}

.karte{
    position: relative;
width:10.75vw;
height:10.75vw;
background-color: black;
border-radius: 8px;
margin-left:2%;
margin-top:1vw;
float:left;
background-image: url(../bilderSpiel/blume.jpg);
background-size: 100% 0%;
background-position-y: 5vw;
background-repeat: no-repeat;
transition: 0.6s;
opacity:1;
}
.click{
    box-shadow: 1px 1px 15px 10px rgb(87, 87, 87);
    z-index:100;
    background-position-y: 0vw;
    background-size: 100% 100%;
    background-image: pink;
 
    }
#spielfeld{
    width:50%;
    margin-left:25%;
    margin-top:0.5vw;
}
.entfernen{
    opacity:0;
}